.home-container{
    background-image: url("../images/techemech-intro-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-x: hidden;
}