
.projectdes-main-container{
    background-color: black;
    color: white;
    overflow: hidden;
    padding-bottom: 30px;
}
.project-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-image video{
    width: 100%;
    height: 600px;
}
.project-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px;
}
.project-content .heading{
    padding-left: 40px;
}
.project-content .project-f-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(28, 28, 28);
    width: 97%;
}
.project-f-content p{
    color: rgb(200, 199, 199);
}
.client-del h2{
    font-size: 25px;
    color: rgb(119, 118, 118);
}
.client-del{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    padding: 40px;
    gap: 5px;
    text-align: left;
}
.client-del-part2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

.project-ga-one{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.project-gallery{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 500px){

    
    .project-content{
        padding: 7px;
        margin-top: 20px;
    }
    .project-f-content{
        gap: 20px;
    }
    .project-gallery{
        display: none;
    }
}

